



<!-- FOOTER -->

<footer>
    <div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px">
  
        <p class="w3-right">  
          <a href="index.html" class="w3-hover-opacity">Início</a> | 
                  <a href="/index/emdesenvolvimento.html" class="w3-hover-opacity">Institucional</a> | 
                  <a href="index/emdesenvolvimento.html" class="w3-hover-opacity">Mapa do site</a>
      
      <br>
                  <br>
      
                  <i class="fa fa-envelope"></i> compras@planejamento.mg.gov.br<br>
                  <i class="fa fa-envelope"></i> comprascentrais@planejamento.mg.gov.br<br>
                  <i class="fa fa-envelope"></i> planejamentodecompras@planejamento.mg.gov.br<br>
      
                  <br>
      
      <!-- Botões de ação https://forms.office.com/r/fGQWrtTTaP -->
      
        <button onclick="window.location.href='https://forms.office.com/r/fGQWrtTTaP'" style="background-color: transparent; border: none; cursor: pointer; color: #007bff;">
            <i class="fa fa-bug"></i> Reportar bug
        </button><br>
        <button onclick="window.location.href='https://forms.office.com/r/fGQWrtTTaP'" style="background-color: transparent; border: none; cursor: pointer; color: #007bff;">
            <i class="fa fa-pencil-square-o"></i> Solicitar inclusão ou revisão de conteúdo
        </button><br>
        <button onclick="window.location.href='https://forms.office.com/r/fGQWrtTTaP'" style="background-color: transparent; border: none; cursor: pointer; color: #007bff;">
            <i class="fa fa-envelope"></i> Fale conosco
        </button><br>
      <br>
        
          Secretaria de Estado de Planejamento e Gestão - SEPLAG MG &copy; 2024 <br>
          Subsecretaria de Compras Públicas – SUBCOMP<br><br>
          Rodovia Papa João Paulo II, 4143, Bairro Serra Verde, Belo Horizonte - Minas Gerais.
      <br>
      <br>
      <br>
      <br>
      <br>
      
      <i style="font-size: 0.75em;">Última atualização em 07/11/2024 por Equipe Portal CCC </i>   
                
      
        </p>
        
      
       
      
      
      </div>
      
    </footer>

